@using Senparc.Weixin.MP.AdvancedAPIs.OAuth
@using Source.Payment
@{
    Layout = null;
    var user = (OAuthUserInfo)ViewData["userInfo"];
    var orders = (IQueryable<PaymentOrder>)ViewData["paidOrders"];
    var biz = ViewData["biz"] != null ? (Source.Payment.Models.Business)ViewData["biz"] : new Source.Payment.Models.Business();
    var products = biz.Products;
    var p1 = products.Where(q => q.CostType == "Cash" && q.ProductType == "Product" && q.Quantity == 1).FirstOrDefault();
    var p2 = products.Where(q => q.CostType == "Credit" && q.ProductType == "Product" && q.Quantity == 1).FirstOrDefault();
    var jssdkUiPackage = (JsSdkUiPackage)ViewData["jssdkUiPackage"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Source - 微信支付</title>
    <link rel="stylesheet" type="text/css" href="~/css/pay.css" />
    <script src="~/js/source.ajax.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="@(this.Context.Request.Scheme)://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</head>
<body>
    <div class="pay-margin">
        <div class="pay-card-div">
            <div class="top">
                <div class="avatar"><image class="image" src="@user.headimgurl" /></div>
                <div class="user-info pay-rows pay-space-between">
                    <div class="username">@user.nickname <span class="pay-icons pay-icons-shopping-cart shopping-cart" id="addCard" >会员卡</span></a></div>
                    <div class="coupon">剩余餐券 @ViewData["credit"] <a href="/Home/WxPayBuy" target="_self"><span class="pay-icons pay-icons-shopping-cart shopping-cart"></span></a></div>
                </div>
            </div>
            <div class="body">
                <div class="code-info">
                    <div class="content pay-columns pay-flex-vcenter">
                        <div class="title">我的取餐码</div>
                        @foreach (var o in orders)
                        {
                            <div class="codes">@o.Code</div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="pay-btn pay-btn-wx" onclick="order('@p1.Id',1)">
            <div class="pay-rows pay-space-between">
                <div class="btn-name">微信支付</div>
                <div class="btn-amount">￥@p1.Amount</div>
            </div>
        </div>

        <div class="pay-btn pay-btn-coupon" onclick="order('@p2.Id',2)">
            <div class="pay-rows pay-space-between">
                <div class="btn-name">餐券支付</div>
                <div class="btn-amount">1 餐券</div>
            </div>
        </div>
    </div>
    <script>
        function order(id, payMethod) {
            var url = `http://payment.gaodev.com/Home/CreateOrder?id=${id}&method=${payMethod}`;
            post(url, null).then(function (res) {
                window.location.href = res;
            }, function (error) {
                console.error('出错了', error);
            });
        }

        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '@jssdkUiPackage.AppId', // 必填，公众号的唯一标识
            timestamp: '@jssdkUiPackage.Timestamp', // 必填，生成签名的时间戳
            nonceStr: '@jssdkUiPackage.NonceStr', // 必填，生成签名的随机串
            signature: '@jssdkUiPackage.Signature',// 必填，签名
            jsApiList: ['addCard'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2。详见：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
        });

        wx.error(function (res) {
            console.log(res);
            alert('验证失败');
        });

        wx.ready(function () {
            document.getElementById("addCard").onclick=function(){
                wx.addCard({
                    cardList: [{
                        cardId: 'pukHe541WmaHEBgW3gACiBCD4EbY',
                        cardExt: '@Html.Raw(ViewData["cardExt"])'
                    }], // 需要添加的卡券列表
                    success: function (res) {
                        var cardList = res.cardList; // 添加的卡券列表信息
                    }
                });
            }
        });
    </script>
</body>
</html>
