@using Senparc.Weixin.MP.AdvancedAPIs.OAuth
@using Source.Product.Models
@using Senparc.Weixin.MP.Helpers;
@{
    Layout = null;
    var user = (OAuthUserInfo)ViewData["userInfo"];
    var orders = (IQueryable<ProductOrder>)ViewData["paidOrders"];
    var biz = ViewData["biz"] != null ? (Source.Payment.Models.Business)ViewData["biz"] : new Source.Payment.Models.Business();
    var products = biz.Products;
    var p1 = products.Where(q => q.CostType == "Cash" && q.ProductType == "Product" && q.Quantity == 1).FirstOrDefault();
    var p2 = products.Where(q => q.CostType == "Credit" && q.ProductType == "Product" && q.Quantity == 1).FirstOrDefault();
    var jssdkUiPackage = (JsSdkUiPackage)ViewData["jssdkUiPackage"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Source - 微信支付</title>
    <link rel="stylesheet" type="text/css" href="~/css/pay.css" />
    <script src="~/js/source.ajax.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="@(this.Context.Request.Scheme)://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</head>
<body>
    <div class="pay-margin">
        <div class="pay-card-div">
            <div class="top">
                <div class="avatar"><image class="image" src="@user.headimgurl" /></div>
                <div class="user-info">
                    <div class="pay-rows pay-space-between">
                        <div class="username">@user.nickname</div>
                        <div class="coupon">剩余餐券 @ViewData["credit"] <a href="/Home/WxPayBuy" target="_self"><span class="pay-icons pay-icons-shopping-cart shopping-cart"></span></a></div>
                    </div>
                    <div class="pay-rows">
                        <div class="cardnumber" id="addCard">领取会员卡</div>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="code-info">
                    <div class="content pay-columns pay-flex-vcenter">
                        <div class="title">我的取餐码</div>
                        <div class="code-body">
                            @foreach (var o in orders)
                            {
                                <div class="codes">
                                    <span class="tag-out">@o.Content</span>
                                    <span class="code">@GuidEncoder.Encode(o.Id).Substring(0, 4).ToUpper();</span>
                                    <span class="quantity">@(o.Quantity)份</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="button-group">
                <div class="button-group-button default" onclick="select(this)">外卖</div>
                <div class="button-group-button select" onclick="select(this)">堂食</div>
            </div>
            <div class="input-number">
                <div>自助餐消费</div>
                <div class="right">
                    <img class="icon" src="~/img/icon-reduce.png" onclick="number(-1)" />
                        <span id="number" class="text">1</span>份
                    <img class="icon" src="~/img/icon-plus.png" onclick="number(1)" />

      
                </div>
            </div>
        </div>
        <div class="pay-btn pay-btn-wx" onclick="order('@p1.Id',1)">
            <div class="pay-rows pay-space-between">
                <div class="btn-name">微信支付</div>
                <div class="btn-amount">￥<span id="p1Amount">@p1.Amount</span></div>
            </div>
        </div>

        <div class="pay-btn pay-btn-coupon" onclick="order('@p2.Id',2)">
            <div class="pay-rows pay-space-between">
                <div class="btn-name">餐券支付</div>
                <div class="btn-amount"><span id="p2Number">1</span> 餐券</div>
            </div>
        </div>

        <div class="pay-btn pay-btn-credit" onclick="toBuy()">
            <div class="pay-rows pay-space-between">
                <div class="btn-name">餐券充值</div>
                <div class="btn-amount"><span class="pay-icons pay-icons-shopping-cart shopping-cart"></span></div>
            </div>
        </div>
    </div>
    <script>
        var quantity = 1

        function select(obj) {
            var buttons = document.getElementsByClassName('button-group-button')

            for (var i = 0; i < buttons.length; i++) {
                buttons[i].className = buttons[i].className.replace('select', 'default')
            }

            obj.className = obj.className.replace('default', 'select')
        }


        function number(num) {
            var number = parseInt(document.getElementById('number').innerHTML)
            number = number + num
            if (number <= 0) {
                number = 1
            }
            document.getElementById('number').innerHTML = number
            document.getElementById('p1Amount').innerHTML = parseFloat("@p1.Amount") * number
            document.getElementById('p2Number').innerHTML = number
            quantity = number
        }

        function order(id, payMethod) {

            if (parseInt('@ViewData["credit"]') < quantity) {
                alert('请先充值')
                return
            }

            var orderType = 2
            if(orderType == 1)
            {
                var productUrl = ''
                window.location.href = productUrl
            }

            var url = `http://payment.gaodev.com/Home/CreateOrder?id=${id}&quantity=${quantity}&orderType=${orderType}`
            post(url, null).then(function (res) {
                var order = res

                var payurl = `http://payment.gaodev.com/Home/CreatePaymentOrder?orderId=${order.id}&method=${payMethod}`
                post(payurl, null).then(function (res) {
                    window.location.href = res
                }, function (error) {
                    console.error('出错了', error)
                })
            })

        }

        function toBuy() {
            window.location.href = "/Home/WxPayBuy";
        }

        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '@jssdkUiPackage.AppId', // 必填，公众号的唯一标识
            timestamp: '@jssdkUiPackage.Timestamp', // 必填，生成签名的时间戳
            nonceStr: '@jssdkUiPackage.NonceStr', // 必填，生成签名的随机串
            signature: '@jssdkUiPackage.Signature',// 必填，签名
            jsApiList: ['addCard'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2。详见：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
        });

        wx.error(function (res) {
            console.log(res);
            alert('验证失败');
        });

        wx.ready(function () {
            document.getElementById("addCard").onclick=function(){
                wx.addCard({
                    cardList: [{
                        cardId: 'pukHe541WmaHEBgW3gACiBCD4EbY',
                        cardExt: '@Html.Raw(ViewData["cardExt"])'
                    }], // 需要添加的卡券列表
                    success: function (res) {
                        var cardList = res.cardList; // 添加的卡券列表信息
                    }
                });
            }
        });
    </script>
</body>
</html>
