@using Senparc.Weixin.MP.AdvancedAPIs.OAuth
@using Source.Payment
@{
    Layout = null;
    var user = (OAuthUserInfo)ViewData["userInfo"];
    var orders = (IQueryable<PaymentOrder>)ViewData["paidOrders"];
    var biz = ViewData["biz"] != null ? (Source.Payment.Models.Business)ViewData["biz"] : new Source.Payment.Models.Business();
    var products = biz.Products;
    var p1 = products.Where(q => q.CostType == "Cash" && q.ProductType == "Product" && q.Quantity == 1).FirstOrDefault();
    var p2 = products.Where(q => q.CostType == "Credit" && q.ProductType == "Product" && q.Quantity == 1).FirstOrDefault();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Source - 微信支付</title>
    <link rel="stylesheet" type="text/css" href="~/css/pay.css" />
    <script src="~/js/source.ajax.js"></script>
</head>
<body>
    <div class="pay-margin">
        <div class="pay-card-div">
            <div class="top">
                <div class="avatar"><image class="image" src="@user.headimgurl" /></div>
                <div class="user-info pay-rows pay-space-between">
                    <div class="username">@user.nickname</div>
                    <div class="coupon">剩余餐券 @ViewData["credit"] <a href="/Home/WxPayBuy" target="_self"><span class="pay-icons pay-icons-shopping-cart shopping-cart"></span></a></div>
                </div>
            </div>
            <div class="body">
                <div class="code-info">
                    <div class="content pay-columns pay-flex-vcenter">
                        <div class="title">我的取餐码</div>
                        @foreach (var o in orders)
                        {
                            <div class="codes">@o.Code</div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="pay-btn pay-btn-wx" onclick="order('@p1.Id',1)">
            <div class="pay-rows pay-space-between">
                <div class="btn-name">微信支付</div>
                <div class="btn-amount">￥@p1.Amount</div>
            </div>
        </div>

        <div class="pay-btn pay-btn-coupon" onclick="order('@p2.Id',2)">
            <div class="pay-rows pay-space-between">
                <div class="btn-name">餐券支付</div>
                <div class="btn-amount">1 餐券</div>
            </div>
        </div>
    </div>
    <script>
        function order(id, payMethod) {
            var url = `http://payment.gaodev.com/Home/CreateOrder?id=${id}&method=${payMethod}`;
            post(url, null).then(function (res) {
                window.location.href = res;
            }, function (error) {
                console.error('出错了', error);
            });
        }
    </script>
</body>
</html>
